<p> Amount: <%= @amount %></p>
<p> Payment method: <%= @payment_method.inspect %></p>
<p> Bank account: <%= @payment_method.bank_account.inspect %></p>
<p> Payment : <%= @payment.inspect %></p>
<p> Order: <%= @order.inspect %></p>

