
<p> Amount: <%= @amount %></p>
<p> Payment method: <%= @payment_method %></p>
<p> Bank account: <%= @payment_method.bank_account %></p>
<p> Payment : <%= @payment %></p>
<p> Order: <%= @order %></p>

